

body{
    background-attachment: #e9eaea;
    font-family: sans-serif;
    margin: 50px;
}
h1{
    color: red;
}

p{
    color: mediumslateblue;
    margin-bottom: 30px;
}

.grijs {
    color: #939598;
}

a {
    background-color: #f65b5c;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: #333;
}